[Desktop Entry]
Encoding=UTF-8
Name=Link to 2023-05-27 04-01-02.mkv 2023-05-27 04-01-02.mkv
Type=Link
URL=https://myitschool.ru/edu/lib/editor/atto/plugins/managefiles/manage.php?elementid=id_onlinetext_editor&context=851&areamaxbytes=-1&maxbytes=0&subdirs=0&return_types=11&removeorphaneddrafts=1&itemid=279102409#
Icon=text-html
